/* 设置背景图片 */
#page-header{
    background-color: rgba(255, 255, 255, 0) !important;
}
#body-wrap{
    background-image: url("/img/background.jpg") !important;
    /* 背景图片不随滚动条滚动 */
    background-attachment: fixed;
    /* 背景图片覆盖整个元素 */
    background-size: cover;
    /* 背景图片不平铺 */
    background-repeat: no-repeat;
    /* 设置背景图片的位置 */
    background-position: center center;
    /* 设置背景应用到整个body */
    height: 100%;
}
/* 文章页背景 */
.layout_post>#post {
    /* 以下代表透明度为0.7 可以自行修改*/
    background: rgba(255,255,255,.7);
}

/* 所有页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表透明度为0.7 */
    background: rgba(255,255,255,.7);
}
/*侧边卡片的透明度 */
:root {
    --card-bg: rgba(255, 255, 255, .7);
}
/* 页脚透明 */
#footer {
    /* 以下代表透明度为0.7 */
    background: rgba(255,255,255, .0) !important;
}
